[submodule "web"]
	path = web
	url = https://github.com/sppidy/sys-mngr-web
[submodule "shared"]
	path = shared
	url = https://github.com/sppidy/sys-mngr-shared
[submodule "server"]
	path = server
	url = https://github.com/sppidy/sys-mngr-server
[submodule "agent"]
	path = agent
	url = https://github.com/sppidy/sys-mngr-agent
