[submodule "web"]
	path = web
	url = https://github.com/sppidy/shellfleet-web
[submodule "shared"]
	path = shared
	url = https://github.com/sppidy/shellfleet-shared
[submodule "server"]
	path = server
	url = https://github.com/sppidy/shellfleet-server
[submodule "agent"]
	path = agent
	url = https://github.com/sppidy/shellfleet-agent
[submodule "cli"]
	path = cli
	url = https://github.com/sppidy/shellfleet-cli
